.tacho-meter-needle{
    width: 5px;
    height: 120px;
    background: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    left: 206px;
    position: absolute;
    top: 120px;
    
    transform:rotate(48.45rad);
    transform-origin:bottom;
}

.speedo-meter-needle{
  width: 5px;
  height: 120px;
  background: red;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: inline-block;
  left: 570px;
  position: absolute;
  top: 120px;
  
  transform:rotate(79.65rad);
  transform-origin:bottom;
}

img{
  width: 50px;
  height: 50px;
}

.control{
margin: 5px 5px 5px 5px;
width: 120px;
}
/************************************************************************************************8*/
.grid-stack { background: #FAFAD2; }
.grid-stack-item-content { background-color: #18BC9C; }

body{
    font-family: sans-serif;
}

table {
    background-color: rgb(241, 240, 255);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  
tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .temperature-table{
    height: 5%;
    width: 60%;
    color:rgb(148, 107, 54);
  }